@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Background */

.hero-image-bg {
    background-image: url('images/background-hero-m.png');
}
@media screen and (min-width: 768px) {
    .hero-image-bg {
        background-image: url('images/background-hero.png');
        background-size: cover;
        background-position: center;
    }    
}

/* Animations */
.pulse-on-hover:hover {
    display: inline-block;
    animation-play-state: running;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
}
.bounce-on-hover:hover {
    display: inline-block;
    animation-play-state: running;
    -webkit-animation: bounce 1s;
    animation: bounce 1s;
}
.beat-on-hover:hover {
    display: inline-block;
    animation-play-state: running;
    -webkit-animation: heartBeat 1s;
    animation: heartBeat 1s;
}
.animate-on-hover:hover {
    display: inline-block;
    animation-play-state: running;
    -webkit-animation: bounceIn 1s;
    animation: bounceIn 1s;
}

/* Manual animations */
.pane-ltr:hover {
    display: inline-block;
    animation-play-state: running;
    animation: pane-ltr 9s infinite ease-in-out;
}
@-webkit-keyframes pane-ltr {
    0% {
        object-position: left;
    }
    50% {
        object-position: right;
    }
    100% {
        object-position: left;
    }
}
@keyframes pane-ltr {
    0% {
        object-position: start;
    }
    50% {
        object-position: right;
    }
    100% {
        object-position: 50% 50%;
    }
}

@layer utilities {

    /* Custom Utilities */
    .h-calc-menu {
        height: calc(100vh - 61.5px);
    }

    .font-playfair {
        font-family: 'Playfair Display', serif;
    }

    /* Dev Classes */
    .show-child-bg {
        > * {
            /* background-color: rgba(255, 0, 0, 0.1); */
            background-color: red;
        }
    }
}